<%= form_with model: @user_choice, url: sixth_user_steps_path, method: :get do |form| %>
  <h6 class="which_one">当てはまる方を選んでください</h6>
  <p class="enum-choice"><%=t('.About family')%></p>

  <div class="enum-choice">
    <%= form.radio_button :home, :kids, class: "radio-inline__input" %>
    <%= form.label(:home, "kids", value: "kids", class: "radio-inline__label") %>
    <%= form.radio_button :home, :none, class: "radio-inline__input" %>
    <%= form.label(:home, "none", value: "none", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit "次へ", class: "button004"%>
  </div>
  <div class="step_back">
   <%= link_to 'Back', fourth_user_steps_path %>
  </div>

  <div class="tip">
    <p>わんちゃんとこどもが遊んでいると可愛らしいですね。</p>
    <p>わんちゃんとお子さんが仲良く遊べたら素敵です。</p>
    <p>しかし、犬種や性格によっては子どもが苦手なわんちゃんもいます。</p>
    <p>子どもと相性の良い犬種、思いつく犬種はありますか？</p>
  <div>
<% end %>