<%= form_with model: @user_choice, url: sixth_user_steps_path, method: :get do |form| %>
  <P class="enum-choice">ご家庭について</p>

  <div class="enum-choice">
    <%= form.radio_button :home, :kids, class: "radio-inline__input" %>
    <%= form.label(:home, "kids", value: "kids", class: "radio-inline__label") %>
    <%= form.radio_button :home, :none, class: "radio-inline__input" %>
    <%= form.label(:home, "none", value: "none", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit class: "button004"%>
  </div>
  <div>
   <%= link_to 'Back', fourth_user_steps_path %>
  </div>
<% end %>