 <%= form_with model: @user_choice, url: fifth_user_steps_path, method: :get do |form| %>
  <p class="enum-choice"><%= t('.Exercise') %></p>

  <div class="enum-choice">
    <%= form.radio_button :exercise, :like, class: "radio-inline__input" %>
    <%= form.label(:exercise, "like", value: "like", class: "radio-inline__label") %>
    <%= form.radio_button :exercise, :dislike, class: "radio-inline__input" %>
    <%= form.label(:exercise, "dislike", value: "dislike", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit "次へ", class: "button004" %>
  </div>
  <div class="step_back">
    <%= link_to 'Back', third_user_steps_path %>
  </div>

  <div class="tip">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  
<% end %>