 <%= form_with model: @user_choice, url: third_user_steps_path, method: :get do |form| %>
  <h6 class="which_one">当てはまる方を選んでください</h6>
  <p class="enum-choice"><%= t('.Do you like cleaning up?') %></p>
  
  <div class="enum-choice">
    <%= form.radio_button :cleaning, :like, class: "radio-inline__input"%>
    <%= form.label(:cleaning, "like", value: "like", class: "radio-inline__label") %>
    <%= form.radio_button :cleaning, :dislike, class: "radio-inline__input" %>
    <%= form.label(:cleaning, "dislike", value: "dislike", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit "次へ", class: "button004"%>
  </div>
  <div class="step_back">
    <%= link_to 'Back', first_user_steps_path %>
  </div>

  <div class="tip">
    <p>さまざまな毛色のわんちゃんがたくさん。</p>
    <p>毛が抜けやすい犬種や、毛が抜けにくい犬種がいます。</p>
    <p>部屋中毛だらけなんてことも。</p>
    <p>日頃のお掃除や、犬アレルギーについても考えてみましょう。</p>
  <div>
<% end %>