 <%= form_with model: @user_choice, url: user_steps_path, method: :post do |form| %>
  <p class="enum-choice"><%= t('.About house')%></p>

  <div class="enum-choice">
    <%= form.radio_button :house, :owned, class: "radio-inline__input" %>
    <%= form.label(:house, "owned", value: "owned", class: "radio-inline__label") %>
    <%= form.radio_button :house, :lent, class: "radio-inline__input" %>
    <%= form.label(:house, "lent", value: "lent", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit class: "button004"%>
  </div>
  <div>
    <%= link_to 'Back', fifth_user_steps_path %>
  </div>
<% end %>