 <%= form_with model: @user_choice, url: fourth_user_steps_path, method: :get do |form| %>
  <h6 class="which_one">当てはまる方を選んでください</h6>
  <p class="enum-choice"><%= t('.Active day off')%></p>
  
  <div class="enum-choice">
    <%= form.radio_button :active, :like, class: "radio-inline__input" %>
    <%= form.label(:active, "like", value: "like", class: "radio-inline__label") %>
    <%= form.radio_button :active, :dislike, class: "radio-inline__input" %>
    <%= form.label(:active, "dislike", value: "dislike", class: "radio-inline__label") %>
  </div>
  
  <div class="actions">
    <%= form.submit "次へ", class: "button004" %>
  </div>


  <div class="step_back">
    <%= link_to 'Back', second_user_steps_path %>
  </div>

  <div class="tip">
    <p>牧羊犬をご存知ですか？</p>
    <p>放牧されている羊をまとめ牧舎に連れ戻したり、迷ったヒツジを群れに連れ戻すことを行い、</p>
    <p>体力があり、頭を使うのが得意です。</p>
    <p>他にも牧畜犬や猟犬などもいます。</p>
    <p>ドッグスポーツで活躍している子がたくさんいるので、
ドッグスポーツについて調べてはいかがでしょうか。</p>
  </div>

<% end %>