 <%= form_with model: @user_choice, url: fourth_user_steps_path, method: :get do |form| %>
  <p>アクティブな休日が？</p>
  
  <div class="field">
    <%= form.label :active %>
    <%= form.radio_button :active, :like %>
    <%= form.radio_button :active, :dislike %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
  <div>
    <%= link_to 'Skip', second_user_steps_path %>
  </div>
<% end %>