<%= link_to 'Search Dogs', search_dogs_path %>

<h1>相性診断結果</h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>相性</th>
      <th>写真</th>
    </tr>
  </thead>  <tbody>
    <% Dog.all.each do | dog | %>
      <tr>
        <td><%= dog.name %></td>
        <td><%= matching_result(dog) %></td>
        <td><%= image_tag dog.image_url, size: '600x500'%></td>
        <td><%= link_to 'Show', dog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

