<h1><%=t('.Search results')%></h1>
  <div class="card-deck">
    <% @results.each do |dog| %>
      <div class="card" flex-direction:row>
        <div class="card-header">
          <h4><%= dog.name %></h4>
        </div>
        <div class="card-body">
          <%= image_tag dog.image_url, size: '300x250' %>
          <h3><%= link_to t('.Show'), dog %></h3>
        </div>
      </div>
    <% end %>
  </div>


<%= link_to t('.Search Dogs'), search_dogs_path %>
<%= link_to t('.Index'), dogs_path %>

<%= paginate @results %>