<h1>検索結果</h1>
  <div class="card-deck">
    <% @results.each do |dog| %>
      <div class="card" flex-direction:row>
        <div class="card-header">
          <h4><%= dog.name %></h4>
        </div>
        <div class="card-body">
          <%= image_tag dog.image_url, size: '600x500' %>
          <h3><%= link_to 'Show', dog %></h3>
        </div>
      </div>
    </div>
  <% end %>


<%= link_to 'Search Dogs', search_dogs_path %>
<%= link_to 'Index', dogs_path %>

<%= paginate @results %>