<h1><%=t('.Let find doggos')%></h1>
<div class="row justify-content-center">
  <%= search_form_for @q, url: search_results_dogs_path do |f| %>
    <div class="searching">
      <%= f.label :name_cont, t('.Breed') %>
      <%= f.search_field :name_cont, placeholder: "poodle" %>
    </div>
    <div class="searching">
      <%= f.label :size, t('.Size') %>
      <%= f.select :size_eq, Dog.sizes_i18n.invert, { include_blank: "指定なし" } %>
      <%= f.select :size_eq, Dog.sizes.keys.map {|k| [t("enums.dog.size.#{k}"), k]} %>
    </div>
    <div class="searching">
      <%= f.check_box :cleaning_eq, {}, 1 , nil%>
      <%= t('.Low-shedding') %>
      <%= f.check_box :home_eq, {}, 0 , nil%>
      <%= t('.Gentle') %>
      <%= f.check_box :active_eq, {}, 0 , nil%>
      <%= t('.Dog sport') %>
      <%= f.check_box :exercise_eq, {}, 1 , nil%>
      <%= t('.Short walking') %>
      <%= f.check_box :house_eq, {}, 1 , nil%>
      <%= t('.Lent house') %>
    </div>
    <div class="button text-center">
      <%= f.submit t('.Search')  %>
    </div>
  <% end %>
</div>

<%= link_to t('.Index'), dogs_path %>