<p>
  <strong>Name:</strong>
  <%= @dog.name %>
  <strong>Size:</strong>
  <%= @dog.size %>
  <br>
  <strong>image:</strong>
  <%= image_tag @dog.image_url, size: '600x500' %>
</p>

<% if @user_favorite.present? %>
  <%= link_to 'ðŸ’œ', favorite_path(id: @user_favorite.dog_id), method: :delete %>
<% else %>
  <%= link_to 'ðŸ’Ÿã„ã„ã­ã—ã¦ã­', favorites_path(dog_id: @dog.id), method: :post %>
<% end %>

<%= link_to 'Back', dogs_path %>
