<h1>My page<h1>

<p>
<%= @user.name%>
</p>
<%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<%= link_to 'Index', dogs_path %>
<%= link_to 'Matching', first_user_steps_path %>
<%= link_to 'Edit', edit_user_registration_path(current_user)%>