<h1>My page<h1>
<%= link_to image_tag('search.png'), search_dogs_path %>
<p>
<%= 'name:' %>
<%= @user.name%>
</p>
<p>
<%= 'email:' %>
<%= @user.email%>
</p>

<% if @user.icon? %>
  <%= image_tag @user.icon.url, class: 'user_icon' %>
<% else %>
  <%= image_tag ('ICON.png'), class: 'user_icon' %>
<% end %>
</p>


<%= link_to image_tag('logout.png', width: 40), destroy_user_session_path, method: :delete %>
<%= link_to 'Index', dogs_path %>
<%= link_to 'Matching_Results', matching_results_dogs_path %>
<%= link_to 'Edit', edit_user_registration_path(current_user)%>

