<p id="notice"><%= notice %></p>

<div class="sub-container">
  <div class="white-frame">
    <% if current_user.present? && current_user.admin? %>
      <%= link_to '管理者ログイン', rails_admin_path %>
    <% end %>
    <h5>マイページ<h5>
    <div class="font-size">
      <p class="center-text">
      <%= t('.name') %>
      <%= @user.name%>
      </p>
      <p class="center-text">
      <%= t('.email') %>
      <%= @user.email%>
      </p>
    </div>

    <% if @user.icon? %>
      <%= image_tag @user.icon.url, class: 'user_icon d-block mx-auto' %>
    <% else %>
      <%= image_tag ('ICON.png'), class: 'user_icon d-block mx-auto' %>
    <% end %>

    <div class="blank">
      <p class="font-size">
        <%= link_to t('.Index'), dogs_path %>
      </p>
      <p class="font-size">
        <%= link_to t('.Matching'), first_user_steps_path %>
      </p>
      <p class="font-size">
        <%= link_to t('.Matching_Results'), matching_results_dogs_path %>
      </p>
      <p class="font-size">
        <%= link_to t('.Edit'), edit_user_registration_path(current_user)%>
      </p>
      <p class="font-size">
        <%= link_to t('.Choices'), user_choices_path %>
      </p>
    </div>
  </div>
</div>