<body class="main-container">
  <div class="text">
    <h3 class="title">これから家族にわんちゃんを迎え入れようとしているあなたに。</h3>
    <div><P>日本では、約200種ほどのわんちゃんを見かけることができます。</p></div>
    <div><p>80kgを超える大型犬から、2Kgほどの小型犬、<br>
    また体を動かすのが好きだったり、小さな子供とも仲良くできる犬種など</p><div>
    <h4>さて、どんなわんちゃんを選びますか？</h4><br><br>
    <p>現状では、飼育放棄されるわんちゃんがいます。</p>
    <p>飼い主の生活スタイルや環境と犬の相性が悪い</p><h4>ミスマッチから起こる問題です。</h4>
    <p>わんちゃんと10年15年とずっと素晴らしい日々を過ごすために、</p>
    <p>どんなわんちゃんがあなたと相性が良いのか気になりますよね。</p>
    <h4>素晴らしい家族と出会うためのお手伝いに。</h4>
    <h2 class="conclusion">Wonderで相性診断ができます。</h2>

  <div class="link">
    <%= link_to t('.Sign In'),  new_user_registration_path %>
  </div>
  <br>
  <% unless user_signed_in? %>
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
    <%= link_to '管理者ログイン', users_guest_admin_sign_in_path, method: :post %>
  <% end %>
  <%# <%= link_to t('.Japanese'), locale_path(locale: "ja") %>
  <%# <%= link_to t('.English'), locale_path(locale: "en") %>
</body>
