<body class="main-container">
  <div class="text">
    <h1><%= t('.Page') %><h1>
    <h2>これから家族にわんちゃんを迎え入れようとしているあなたに。</h2>
    
    <P>日本では、約200種ほどのわんちゃんを見かけることができます。</p>
    <p>80kgを超える大型犬から、2Kgほどの小型犬、また、体を動かすのが好きだったり、小さな子供とも仲良くできる犬種など</p>
    <p>さまざまな種類に、さまざまな特徴があります。</p>
    <h3>素晴らしい家族としてどんなわんちゃんを選びますか？</h3>
    <p>現状では、ネグレクトや、飼育放棄されるわんちゃんがいるのが現実です。</p>
    <p>こんなに大きくなるとは知らなかった。</p>
    <p>子供との相性が悪く、このまま飼い続けることはできない。</p>
    <p>飼い主の生活スタイルや環境と犬の相性が悪い</p><h3>ミスマッチから起こる問題です。</h3>
    <p>わんちゃんと10年15年とずっと素晴らしい日々を過ごすために、</p>
    <p>どんなわんちゃんがあなたと相性が良いのか見てみてはいかがでしょうか。</p>
    <h3>素晴らしい家族と出会うためのお手伝いに。</h3>
    <h2>Wonderで相性診断ができます。</h2>

    <%= link_to t('.Sign In'),  new_user_registration_path %>
    <%= link_to t('.Index'), dogs_path %>

    <%= link_to t('.Guest login'), users_guest_sign_in_path, method: :post %>
    <%= link_to t('.Admin guest login'), users_guest_admin_sign_in_path, method: :post %>
  </div>
</body>

<%= link_to t('.Japanese'), locale_path(locale: "ja") %>
<%= link_to t('.English'), locale_path(locale: "en") %>