<%= form_with(model: @post) do |form| %>
  <div class="post_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="post_image">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <%= form.submit class: "action"%>
<% end %>